<div class="chart-screen" data-chart-screen>
  <div class="container">
    <div class="chart-screen__inner">
      <button class="chart-screen__close"
        role="button"
        data-chart-screen-close
        data-animation-element>
        <span class="chart-screen__close-line"></span>
        <span class="chart-screen__close-line"></span>
      </button>
      <h2 class="chart-screen__title" data-animation-element>
        Cost per Human Genome
      </h2>
      <div class="chart-screen__chart-container">
        <div class="chart-screen__chart"
          data-chart
          data-animation-element></div>
        <p class="chart-screen__chart-caption" data-animation-element>
          Cost per genome data - 2022. Source: DNA Sequencing Costs: Data.
          Credit: Darryl Leja, NHGRI.
        </p>
      </div>
    </div>
  </div>
</div>
