<div class="chart-screen">
  <div class="container">
    <div class="chart-screen__inner">
      <h2 class="chart-screen__title">
        Cost per Human Genome
      </h2>
      <div class="chart-screen__chart-container">
        <div class="chart-screen__chart" data-chart></div>
        <p class="chart-screen__chart-caption">
          Cost per genome data - 2022. Source: DNA Sequencing Costs: Data.
          Credit: Darryl Leja, NHGRI.
        </p>
      </div>
    </div>
  </div>
</div>
