.chart-screen {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;

  &__title {
    margin-bottom: 1em;

    font-size: 7vw;
    text-align: center;

    @include media-sm {
      font-size: 5.5vw;
    }

    @include media-lg {
      font-size: 2.5vw;
    }
  }

  &__chart-container {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
  }

  &__chart-caption {
    margin-top: 1em;
    color: #b9b9b9;
    font-size: 16px;
    text-align: center;

    @include media-sm {
      font-size: 20px;
    }

    @include media-lg {
      font-size: 24px;
    }
  }

  [data-animation-element] {
    opacity: 0;
    visibility: hidden;
    will-change: transform;
  }
}
