<div class="chart-screen">
  <div class="chart-screen__inner">
    <h2 class="chart-screen__title">
      Cost per Human Genome
    </h2>
    <div data-chart></div>
    <p class="chart-screen__chart-caption">
      Cost per genome data - 2020. Source: DNA Sequencing Costs: Data. Credit:
      Darryl Leja, NHGRI.
    </p>
  </div>
</div>
