.welcome {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__container {
    padding-left: 10vw;
  }

  &__button {
    font-size: 32px;
  }
}
