.welcome {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;

    @include media-md {
      padding-left: 0;
    }
  }

  &__title {
    margin-bottom: 0.3em;
  }

  &__button {
    font-size: 6.5vw;

    @include media-sm {
      font-size: 4.5vw;
    }

    @include media-lg {
      font-size: 1.5vw;
    }
  }
}
