<div class="welcome" data-welcome>
  <div class="welcome__container">
    <h1 class="welcome__title title _small" data-animation-element>
      WebGL Tech Demo
    </h1>
    <button role="button"
      class="welcome__button link-button"
      data-welcome-button
      data-animation-element>
      Start exploring
    </button>
  </div>
</div>
