<div class="welcome">
  <div class="welcome__container">
    <button role="button"
      class="welcome__button link-button"
      data-welcome-button>
      Start exploring
    </button>
  </div>
</div>
