.title {
  @include font-family-serif-alt;
  color: #969081;
  font-size: 8vw;
  letter-spacing: 0.02em;
  line-height: 1.1;

  @include media-sm {
    font-size: 6vw;
  }

  @include media-lg {
    font-size: 3vw;
  }
}
