@keyframes spinner {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.spinner {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: $color-brand;
  font-size: 16px;

  &__inner {
    animation: spinner 1.5s infinite;
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    will-change: opacity;
  }

  @include media-sm {
    font-size: 20px;
  }

  @include media-lg {
    font-size: 24px;
  }
}
