<div class="intro" data-intro>
  <div class="intro__container">
    <h1 class="intro__title title" data-animation-element>
      WebGL 3D Molecule
    </h1>
    <div class="intro__text" data-animation-element>
      <p class="paragraph">
        This a&nbsp;tech demo featuring a&nbsp;3D molecule rendered
        with&nbsp;Three.js react-three-fiber and a&nbsp;D3 chart implemented
        with&nbsp;recharts React library.
      </p>
    </div>
    <button role="button"
      class="intro__button link-button"
      data-animation-element
      data-button>
      Proceed to D3 charts
    </button>
  </div>
</div>
