.intro {
  color: #f1f1f1;
  font-size: 4.5vw;
  opacity: 0;
  text-align: center;
  visibility: hidden;

  @include media-sm {
    font-size: 3.5vw;
  }

  @include media-lg {
    font-size: 1.5vw;
  }

  &__title {
    margin-bottom: 0.85em;
  }

  &__text {
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 1.7em;
    margin-left: auto;
    letter-spacing: 0.01em;
  }
}
