.intro {
  color: #f1f1f1;
  font-size: 6.5vw;
  opacity: 0;
  text-align: center;
  visibility: hidden;

  @include media-md {
    font-size: 1.5vw;
  }

  &__title {
    margin-bottom: 0.85em;
  }

  &__text {
    max-width: 540px;
    margin-right: auto;
    margin-bottom: 2em;
    margin-left: auto;
    letter-spacing: 0.01em;
  }

  [data-animation-element] {
    opacity: 0;
    visibility: hidden;
    will-change: transform;
  }
}
