.intro {
  color: #f1f1f1;
  font-size: 4.1vw;
  opacity: 0;
  text-align: center;
  visibility: hidden;

  @include media-sm {
    font-size: 3.2vw;
  }

  @include media-lg {
    font-size: 1.4vw;
  }

  &__title {
    margin-bottom: 0.6em;
  }

  &__text {
    max-width: 600px;
    margin-right: auto;
    margin-bottom: 1.7em;
    margin-left: auto;
    font-size: 0.8em;
    line-height: 1.5;

    @include media-sm {
      max-width: 70vw;
    }

    @include media-lg {
      max-width: 37vw;
    }
  }
}
