<div class="intro" data-intro>
  <div class="intro__container">
    <h1 class="intro__title title" data-animation-element>
      WebGL 3D Molecule
    </h1>
    <div class="intro__text" data-animation-element>
      <p>
        This a tech demo featuring a 3D molecule rendered with Three.js
        react-three-fiber and a D3 chart implemented with recharts React
        library.
      </p>
    </div>
    <button role="button"
      class="intro__button link-button"
      data-animation-element
      data-button>
      Proceed to D3 charts
    </button>
  </div>
</div>
