<div class="intro" data-intro>
  <h1 class="intro__title title">
    WebGL 3D Molecule
  </h1>
  <div class="intro__text">
    <p>
      This tech demo was created for the&nbsp;Frontend Developer position
      at&nbsp;Bioinformatics Institute.
    </p>
  </div>
  <button role="button" class="intro__button link-button">
    Proceed to D3 charts
  </button>
</div>
