{% extends './_layouts/base.njk' %}

{% from './components/button/button.njk' import button %}

{% block title %}
  frōntensō-11ty-starter
{% endblock %}

{% block content %}
  <div class="page-home page">
    <div class="container">
      <h1 class="title">
        WebGL 3D Molecule
      </h1>
    </div>
  </div>
{% endblock %}
