{% extends './_layouts/base.njk' %}

{% block title %}
  WebGL, D3 Tech Demo
{% endblock %}

{% block content %}
  {% include './components/spinner/spinner.njk' %}
  <div class="fixed w-full h-full left-0 top-0" data-3d-scene></div>
  {% include './components/header/header.njk' %}
  <div class="page-home page">
    {% include './components/welcome/welcome.njk' %}
    {% include './components/intro/intro.njk' %}
    {% include './components/chart-screen/chart-screen.njk' %}
  </div>
{% endblock %}
