{% extends './_layouts/base.njk' %}

{% block title %}
  frōntensō-11ty-starter
{% endblock %}

{% block content %}
  <picture class="fixed left-0 top-0 w-full h-full object-cover">
    <source srcset="/background.avif" type="image/avif" />
    <source srcset="/background.jpg" type="image/jpeg" />
    <img src="/background.jpg"
      alt="Background"
      class="w-full h-full object-cover" />
  </picture>
  <div class="fixed w-full h-full left-0 top-0 z-10" data-3d-scene></div>
  <div class="page-home page relative flex h-[100vh] items-center">
    <div class="container">
      <div class="intro">
        <h1 class="intro__title title">
          WebGL 3D Molecule
        </h1>
        <div class="intro__text">
          <p>
            This tech demo was created by Andrew Nikonov for the Frontend
            Developer position at Bioinformatics Institute
          </p>
        </div>
        <a href="" class="intro__button link-button">Proceed to D3 charts</a>
      </div>
    </div>
  </div>
{% endblock %}
